<h1>
    {{ title }}
</h1>

{% for movieSession_item in movieSession %}
    <form method="get" action="{{ path('booking_create')}}">
        <textarea name="movieSessionId" style="display: none;">{{  movieSession_item.id }}</textarea>

        Фильм: {{  movieSession_item.movie.name }} <br>

        Дата начала фильма: {{ movieSession_item.startTime|date("F j, g:i a") }} <br>

        Длительность фильма: {{  movieSession_item.movie.durationInMinutes }} <br>

        Количество свободных билетов: {{  movieSession_item.quantityTickets }} <br>

        Ваше имя: <textarea name="name"></textarea><br>

        Ваш телефон: <textarea name="phone"></textarea><br>
        <input type="submit" value="Купить билет" id="submit" />
    </form>
    <br>
    <a href="submit" id="submit" class="submit"></a>
    <br>
{% endfor %}
